html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.body-active {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
}

.scroll_hidden {
    overflow: hidden;
}

.main_page_wrapper {
    background-size: 100%;
    background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
        linear-gradient(0deg, #211F20, #211F20);
}

.format {
    margin: 0 auto;
    min-width: 320px;
    max-width: 1280px;
    height: 100%;
    text-align: center;
}

header {
    display: flex;
    padding: 60px 40px 0px;
    justify-content: space-between;
}

.logo a {
    text-decoration: none;
}

.logo h1 {
    padding: 0;
    margin: 0;
    text-align: left;
    font-family: "Georgia";
    font-size: 32px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.logo h6 {
    padding-top: 10px;
    margin: 0;
    text-align: center;
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.menu {
    padding: 0;
    margin: 0;
    height: 100%;
    padding-top: 16px;
}

.menu div {
    list-style-type: none;
    float: left;
    margin: 0;
}

.menu div {
    display: inline-block;
    padding-left: 35px;
}

.menu a {
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    text-decoration: none;
    color: #CDCDCD;
}

.burger {
    display: none;
}

.menu__item_active,
.menu a:active,
.menu a:hover {
    color: #FAFAFA;
    border-bottom: 3px solid;
    border-color: #F1CDB3;
}

.start_screen {
    display: flex;
    margin: 60px 40px 0px;
    text-align: left;
}

.start_screen_content {
    margin-top: 163px;
    margin-right: 42px;
}

.start_screen_content h2 {
    font-family: Georgia;
    font-size: 44px;
    font-weight: 400;
    line-height: 57px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin: 0px 150px 42px 0px;
}

.start_screen_content p {
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #CDCDCD;
    margin-bottom: 42px;
}

.start_screen_content a {
    display: inline-block;
    text-decoration: none;
    font-family: Georgia;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #292929;
    border-radius: 100px;
    background: #F1CDB3;
    border: 0;
    text-align: center;
    padding: 15px 45px;
}

.start_screen_content a:hover {
    background: #f1cdb380;
}

.about_wrapper,
.help_wrapper {
    background-size: 100%;
    background: #FFFFFF;
}

.about {
    display: flex;
    margin: 80px 40px 100px;
    text-align: center;
    align-items: center;
}

.about img {
    margin-left: 175px;
}

.about_content {
    margin: 14px 175px 14px 120px;
}

.about_content h2 {
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #545454;
    margin: 0px 60px 0px 0px;
}

.about_content p {
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #4C4C4C;
    margin-top: 25px;
    margin-bottom: 0px;
}

.pets_wrapper,
.donation_wrapper {
    background-size: 100%;
    background: #f6f6f6;
}

.pets_wrapper h2 {
    padding: 80px 400px 0px;
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
}

.pets {
    display: flex;
    margin: 60px 40px 0px;
    justify-content: space-between;
    align-items: center;
}

.pets_arrow {
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    cursor: pointer;
}

.pets_arrow:hover {
    background: #F1CDB3;
}

.pets_slider {
    width: 990px;
    display: flex;
    justify-content: space-between;
}

.pets_card {
    background-color: #fafafa;
    text-align: center;
    border: 2px solid #fafafa;
    border-radius: 11px;
    width: 270px;
    height: 435px;
}

.pets_card_hidden {
    display: none;
}

.pets_card:hover {
    background-color: #FFFFFF;
    cursor: pointer;
    border: 2px solid #F1CDB3;
}

.pets_card:hover button {
    background-color: #F1CDB3;
    cursor: pointer;
}

.pets_card h6 {
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
    margin: 30px 0px;
}

.pets_card button {
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family: Georgia;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #292929;
    height: 52px;
    width: 187px;
    text-align: center;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.button_rest {
    display: inline-block;
    text-decoration: none;
    border-radius: 100px;
    background: #F1CDB3;
    border: none;
    font-family: Georgia;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #292929;
    margin-top: 60px;
    margin-bottom: 100px;
    padding: 11px 41px;
    border: 2px solid #F1CDB3;
}

.button_rest:hover {
    background: #fafafa;
}

.modal_wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    background: rgba(41, 41, 41, 0.6);
    overflow: hidden;
    cursor: pointer;
}

.modal_hidden {
    display: none;
}

.modal__div {
    width: 952px;
    height: auto;
    text-align: right;
}

.modal__button {
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    cursor: pointer;
    padding-top: 5px;
    background: transparent;
}

.modal__button:hover {
    background: #F1CDB3;
}

.modal__button__hover {
    background: #F1CDB3;
}

.modal__window {
    background: #fafafa;
    width: 900px;
    height: auto;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    display: flex;
    justify-content: flex-start;
    cursor: default;
    margin-bottom: 52px;
}

.modal__window img {
    width: 500px;
    height: 500px;
}

.modal__content {
    text-align: left;
    color: #000000;
    letter-spacing: 0.06em;
    margin: 50px 29px 88px 20px;
}

.modal__content h3 {
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    margin: 0px 0px 10px;
}

.modal__content h4 {
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    margin: 0px 0px 40px;
}

.modal__content h5 {
    font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    margin: 0px 0px 40px;
}

.modal__content ul {
    margin: 0;
    padding-left: 20px;
}

.modal__content li {
    font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 10px;
    color: #F1CDB3;
}

.modal__content span {
    color: #000000;
}

.help_wrapper h2 {
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
    padding: 80px 400px 0px;
    margin: 0;
}

.help {
    margin: 60px 87px 45px;
}

.help_icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -60px;
}

.help_icon {
    margin: 0 60px;
}

.help_icon img {
    width: 60px;
    height: 60px;
}

.help_icon h6 {
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
    margin-top: 30px;
    margin-bottom: 55px;
}

.donation {
    display: flex;
    padding-top: 80px;
    padding-bottom: 100px;
    text-align: center;
    align-items: center;
}

.donation img {
    margin-right: 30px;
    margin-left: 183px;
}

.donation_content {
    margin-right: 182px;
}

.donation_content h3 {
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #545454;
    margin: 0px 80px 0px 0px;
}

.donation_content h5 {
    font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #545454;
    margin: 20px 0px;
}

.donation_content button {
    background: #F1CDB3;
    border-radius: 9px;
    border: none;
    padding: 8px 13px;
    display: flex;
    align-items: center;
    border: 2px solid #F1CDB3;
}

.donation_content button:hover {
    background: #fafafa;
}

.donation_content a {
    text-decoration: none;
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #545454;
}

.donation_content img {
    margin: 0px 15px 0px 0px;
}

.donation_content p {
    font-family: Arial;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    color: #B2B2B2;
    margin: 20px 0px 0px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 40px 40px 0px;
}

footer h3 {
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #FFFFFF;
    margin: 0;
    max-width: 280px;
}

footer h4 {
    margin: 0;
}

footer a {
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #F1CDB3;
    text-decoration: none;
}

.contacts {
    display: flex;
    justify-content: space-between;
}

.contacts_content {
    margin-right: 160px;
    margin-top: 16px;
}

.contact {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.contact img {
    margin-right: 20px;
}

.location {
    margin-top: 33px;
}

@font-face {
    font-family: "Georgia";
    src: url("../../assets/fonts/georgia.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Arial";
    src: url("../../assets/fonts/arialmt.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@media (max-width: 1279px) {
    header {
        padding: 30px 30px 0px;
    }

    .start_screen {
        display: block;
        margin: 60px 100px 0px 99px;
        text-align: right;
    }

    .start_screen_content {
        margin: 0 auto;
        max-width: 460px;
        padding-bottom: 100px;
        text-align: center;
    }

    .start_screen img {
        width: 569px;
        margin: 0px 0px 0px 70px;
    }

    .about {
        flex-direction: column-reverse;
        margin: 80px 0 100px;
    }

    .about_content {
        margin: 0 auto;
        max-width: 437px;
    }

    .about img {
        margin: 0 auto;
        padding-top: 80px;
    }

    .pets {
        margin: 60px 30px 0px;
    }

    .pets_content {
        margin-top: 80px;
    }

    .pets_wrapper h2 {
        padding: 80px 0px 0px;
        margin: 0 auto;
    }

    .pets_slider {
        width: 588px;
    }

    .modal__div {
        width: 682px;
        height: auto;
    }

    .modal__window {
        width: 630px;
        height: auto;
    }

    .modal__window img {
        width: 350px;
        height: 350px;
    }

    .modal__content {
        text-align: left;
        color: #000000;
        letter-spacing: 0.06em;
        margin: 10px 11px 37px 9px;
    }

    .modal__content h4 {
        margin-bottom: 20px;
    }

    .modal__content h5 {
        font-size: 13px;
        line-height: 14px;
        margin-bottom: 20px;
    }

    .help {
        max-width: 630px;
        margin: 60px auto 45px;
    }

    .help_icons {
        margin: 0px;
        justify-content: space-between;
    }

    .help_icon {
        width: 170px;
        margin: 0;
    }

    .help_wrapper h2 {
        padding: 80px 0px 0px;
        margin: 0 auto;
    }

    .donation {
        flex-direction: column-reverse;
    }

    .donation img {
        margin: 0 auto;
    }

    .donation_content {
        margin: 0px auto 60px;
        max-width: 380px;
    }

    .donation_content img {
        margin: 0px 15px 0px 0px;
    }

    footer {
        flex-wrap: wrap;
        justify-content: center;
        padding: 30px 30px 0px;
        max-width: 708px;
        margin: 0 auto;
    }

    .contacts {
        justify-content: space-between;
        margin: 0 -30px;
    }

    .contacts_content {
        margin: 0 30px;
    }

    .footer-puppy {
        margin-top: 65px;
    }
}

@media (max-width: 767px) {
    .blackout {
        background: rgba(41, 41, 41, 0.6);
        background-size: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        height: 1000%;
        cursor: pointer;
    }

    header {
        padding: 30px 53px 0px 10px;
    }

    .header-active {
        justify-content: flex-end;
    }

    .logo-active {
        z-index: 100;
        margin-right: 41px;
    }

    .burger {
        display: block;
        cursor: pointer;
        height: 30px;
        width: 30px;
        margin-top: 19px;
        position: relative;
        z-index: 100;
        transition: all 0.4s;
    }

    .burger span {
        position: absolute;
        top: 0px;
        left: 0px;
        display: block;
        width: 30px;
        height: 2px;
        background-color: #f1cdb3;
    }

    .burger :nth-child(2) {
        top: 10px;
    }

    .burger :nth-child(3) {
        top: 20px;
    }

    .burger-active {
        transform: rotate(90deg);
        transition: all 0.5s;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        right: -100%;
        top: 0;
        width: 320px;
        height: 100vh;
        transition: 1s;
        z-index: 10;
        background: #292929;
    }

    .menu-active {
        position: absolute;
        right: 0;
    }

    .menu-active div {
        padding: 0;
        margin: 20px 0px;
    }

    .menu-active a {
        text-decoration: none;
        font-family: Arial;
        font-size: 32px;
        font-weight: 400;
        line-height: 51px;
        letter-spacing: 0px;
        text-align: center;
        color: #CDCDCD;
    }

    .start_screen {
        margin: 60px 10px 0px;
        text-align: right;
    }

    .start_screen_content {
        max-width: 300px;
        padding-bottom: 105px;
    }

    .start_screen_content h2 {
        font-size: 25px;
        line-height: 32px;
        letter-spacing: 0.06em;
        text-align: center;
        color: #FFFFFF;
        margin: 0px auto;
    }

    .start_screen_content p {
        margin: 42px 0px;
        text-align: center;
    }

    .start_screen img {
        width: 260px;
        margin-left: 40px;
    }

    .about {
        margin: 42px 25px;
    }

    .about_content h2 {
        font-size: 25px;
        line-height: 32px;
        margin: 0 auto;
        text-align: center;
    }

    .about img {
        width: 260px;
        padding-top: 42px;
    }

    .about p {
        text-align: justify;
    }

    #second_paragraph {
        margin-top: 22px;
    }

    .pets {
        justify-content: center;
        flex-wrap: wrap;
        max-width: 300px;
        margin: 42px auto;
    }

    .pets_wrapper h2 {
        font-size: 25px;
        line-height: 32px;
        padding-top: 42px;
    }

    .pets_slider {
        width: 274px;
    }

    .pets_arrow {
        display: inline;
        order: 1;
        margin: 20px 40px 0px;
    }

    .button_rest {
        margin: 0 auto 42px;
    }

    .modal__div {
        width: 270px;
        height: auto;
    }

    .modal__window {
        width: 240px;
        height: auto;
    }

    .modal__window img {
        display: none;
    }

    .modal__content {
        text-align: center;
        color: #000000;
        letter-spacing: 0.06em;
        width: 220px;
    }

    .modal__content h4 {
        margin-bottom: 20px;
    }

    .modal__content h5 {
        margin-bottom: 24px;
        text-align: justify;
    }

    .modal__content ul {
        margin: 0;
        padding-left: 20px;
        text-align: left;
    }

    .modal__content li {
        margin-bottom: 5px;
    }

    .help {
        margin: 42px auto 12px;
        width: 290px;
    }

    .help_wrapper h2 {
        font-size: 25px;
        line-height: 32px;
        padding-top: 42px;
    }

    .help_icons {
        justify-content: flex-start;
        margin: 0 -15px;
    }

    .help_icon img {
        width: 50px;
        height: 50px;
    }

    .help_icon {
        margin: 0 15px;
        width: 130px;
    }

    .help_icon h6 {
        font-size: 15px;
        line-height: 17px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .donation_content {
        margin: 0 10px;
    }

    .donation_content h3 {
        font-size: 25px;
        line-height: 32px;
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }

    .donation_content h5 {
        font-size: 15px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0;
    }

    .donation img {
        width: 260px;
    }

    .donation_content img {
        width: 30px;
        margin-right: 15px;
    }

    .donation {
        padding: 42px 0px;
    }

    .donation_content a {
        font-size: 15px;
        line-height: 17px;
    }

    .donation_content button {
        margin: 0 auto;
    }

    .donation_content p {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: justified;
        margin: 20px 10px 42px;
    }

    footer {
        padding: 30px 10px 0px;
        max-width: 300px;
    }

    .contacts {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
    }

    .contacts_content {
        margin: 0 auto;
    }

    footer h3 {
        font-size: 25px;
        line-height: 32px;
        text-align: center;
    }

    .footer-puppy {
        width: 260px;
        margin-top: 40px;
    }

    .contact {
        justify-content: center;
    }

    .location {
        margin-top: 40px;
        justify-content: flex-start;
    }

    #location_h {
        margin-top: 40px;
    }
}